.venusInputText {
    margin: 5px 0;
    position: relative;
    padding: 7px;
    border: 1px solid var(--light-grey);
    border-radius: 4px;
    display: flex;
    align-items: center;

    svg {
        top: 8px;
    }

    input {
        background: transparent;
        border: none;
        width: 100%;
    }

}